<script src="/api/pages/js/[[ name ]]"></script>

<div class="page-header">
    <h1>Example page header
        <small>Subtext for header</small>
    </h1>
</div>

This is a dynamic template for page: [[ name ]].<span ng-controller="Controllers.[[ name ]]" class="label label-info">({{ name }})</span>

<p>
<div class="btn-group">
    <button class="btn">Left</button>
    <button class="btn">Middle</button>
    <button class="btn">Right</button>
</div>
</p>